<div class="d-flex justify-content-center">
    <div class="jumbotron jumbotron-fluid px-4 py-4" style="background-color: #ebf0f5; border-radius: 3px; width: 70%;">
        <div class="container">
            <h1 class="display-4">Blog App</h1>
            <p class="lead">Leia, participe e contribuia com o Blog App</p>
        </div>
    </div>
</div>